.book-table {
	width: 95%;
	border: 1px solid black;
	border-collapse: collapse;
}

.book-table thead, .book-table tr {
	border: 1px solid black;
}

.book-table td, .book-table th {
	border: 1px solid black;
}

.book-table img {
	width: 200px;
}