#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  max-width: 500px;
  border: 2px dotted rgb(0, 0, 63);
}

ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  justify-content: center;
}

li {
  margin: 0 1rem;
  text-decoration: none;
  list-style: none;
}

p {
  text-align: left;
}
